<%= form_for(@basico_pais, html: {class:'form-horizontal', role:'form',id:"formulario"}) do |f| %>
  <% if @basico_pais.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <ul>
        <% @basico_pais.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group form-group-sm">
    <%= f.label :nombre, class:"col-md-1 control-label" %>
    <div class="col-md-3">
       <%= f.text_field :nombre, class: "form-control input-sm" %>
    </div>
    <%=f.label :codigo,class:"col-md-1 control-label" %>
     <div class="col-md-3">
      <%= f.text_field :codigo, class: "form-control input-sm", rows:"4"  %>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <div class="col-md-1 col-md-offset-7" align="right">
      <%= submit_tag "Guardar" , class: "btn btn-primary btn-sm"  %>
    </div>
  </div>
<% end %>


 
