



<div class="row">
	<div class="col-md-4"  >
	 <%= link_to 'Editar', edit_basico_pais_path(@basico_pais),class: "btn btn-default btn-sm" %> 
	 <%= link_to 'Listado', basico_paises_path, class: "btn btn-default btn-sm" %>
	</div>
	<div class="col-md-8" align="right">
	</div>
</div>
<h3>Paises<small> detalle </small></h3>
<p id="notice"><%= notice %></p>


<div class="well">
<div class="row">
	<div class="col-md-6">
		<p>
		  <strong>Nombre:</strong>
		  <%= @basico_pais.nombre %>
 		</p>
 		<p>
		  <strong>Codigo:</strong>
		  <%= @basico_pais.codigo %>
		</p>
	</div>
	<div class="col-md-6">
		<ul class="list-group">
			<% @basico_pais.estados.each do |estado| %>	
				<li class="list-group-item"><%= estado.nombre %></li>
			<% end %>
		</ul>
	</div>
</div>
</div>


