<p id="notice"><%= notice %></p>

<h1>Listing Registro Servicios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Valor</th>
      <th>Impuesto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registro_servicios.each do |registro_servicio| %>
      <tr>
        <td><%= registro_servicio.nombre %></td>
        <td><%= registro_servicio.descripcion %></td>
        <td><%= registro_servicio.valor %></td>
        <td><%= registro_servicio.impuesto %></td>
        <td><%= link_to 'Show', registro_servicio %></td>
        <td><%= link_to 'Edit', edit_registro_servicio_path(registro_servicio) %></td>
        <td><%= link_to 'Destroy', registro_servicio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Servicio', new_registro_servicio_path %>
