<p id="notice"><%= notice %></p>

<h1>Listing Basico Parroquias</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Municipio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @basico_parroquias.each do |basico_parroquia| %>
      <tr>
        <td><%= basico_parroquia.nombre %></td>
        <td><%= basico_parroquia.municipio %></td>
        <td><%= link_to 'Show', basico_parroquia %></td>
        <td><%= link_to 'Edit', edit_basico_parroquia_path(basico_parroquia) %></td>
        <td><%= link_to 'Destroy', basico_parroquia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parroquia', new_basico_parroquia_path %>
