<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @basico_parroquia.nombre %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @basico_parroquia.municipio %>
</p>

<%= link_to 'Edit', edit_basico_parroquia_path(@basico_parroquia) %> |
<%= link_to 'Back', basico_parroquias_path %>
