  <tr>
        <td><%= persona_juridica.descripcion %></td>
        <td><%= persona_juridica.tipo %></td>
        <td><%= link_to 'Show', persona_juridica %></td>
        <td><%= link_to 'Edit', edit_basico_persona_juridica_path(persona_juridica) %></td>
        <td><%= link_to 'Destroy', persona_juridica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>