<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @basico_persona_juridica.descripcion %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @basico_persona_juridica.tipo %>
</p>

<%= link_to 'Edit', edit_basico_persona_juridica_path(@basico_persona_juridica) %> |
<%= link_to 'Back', basico_persona_juridicas_path %>
