 
      <tr>
        <td><%= modelo.nombre %></td>
        <td><%= modelo.marca.nombre %></td>
        <td><%= link_to 'Show', modelo %></td>
        <td><%= link_to 'Edit', edit_basico_modelo_path(modelo) %></td>
        <td><%= link_to 'Destroy', modelo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
