<p id="notice"><%= notice %></p>

<h1>Listing Registro Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Tipoidentidad</th>
      <th>Identidad</th>
      <th>Nombres</th>
      <th>Direccion</th>
      <th>Parroquia</th>
      <th>Email</th>
      <th>Ping</th>
      <th>Web</th>
      <th>Twitter</th>
      <th>Telefono</th>
      <th>Otrotelefono</th>
      <th>Celular</th>
      <th>Otrocelular</th>
      <th>Otroemail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registro_clientes.each do |registro_cliente| %>
      <tr>
        <td><%= registro_cliente.tipoIdentidad %></td>
        <td><%= registro_cliente.identidad %></td>
        <td><%= registro_cliente.nombres %></td>
        <td><%= registro_cliente.direccion %></td>
        <td><%= registro_cliente.parroquia %></td>
        <td><%= registro_cliente.email %></td>
        <td><%= registro_cliente.ping %></td>
        <td><%= registro_cliente.web %></td>
        <td><%= registro_cliente.twitter %></td>
        <td><%= registro_cliente.telefono %></td>
        <td><%= registro_cliente.otroTelefono %></td>
        <td><%= registro_cliente.celular %></td>
        <td><%= registro_cliente.otroCelular %></td>
        <td><%= registro_cliente.otroEmail %></td>
        <td><%= link_to 'Show', registro_cliente %></td>
        <td><%= link_to 'Edit', edit_registro_cliente_path(registro_cliente) %></td>
        <td><%= link_to 'Destroy', registro_cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cliente', new_registro_cliente_path %>
