<p id="notice"><%= notice %></p>

<p>
  <strong>Tipoidentidad:</strong>
  <%= @registro_cliente.tipoIdentidad %>
</p>

<p>
  <strong>Identidad:</strong>
  <%= @registro_cliente.identidad %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @registro_cliente.nombres %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @registro_cliente.direccion %>
</p>

<p>
  <strong>Parroquia:</strong>
  <%= @registro_cliente.parroquia %>
</p>

<p>
  <strong>Email:</strong>
  <%= @registro_cliente.email %>
</p>

<p>
  <strong>Ping:</strong>
  <%= @registro_cliente.ping %>
</p>

<p>
  <strong>Web:</strong>
  <%= @registro_cliente.web %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @registro_cliente.twitter %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @registro_cliente.telefono %>
</p>

<p>
  <strong>Otrotelefono:</strong>
  <%= @registro_cliente.otroTelefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @registro_cliente.celular %>
</p>

<p>
  <strong>Otrocelular:</strong>
  <%= @registro_cliente.otroCelular %>
</p>

<p>
  <strong>Otroemail:</strong>
  <%= @registro_cliente.otroEmail %>
</p>

<%= link_to 'Edit', edit_registro_cliente_path(@registro_cliente) %> |
<%= link_to 'Back', registro_clientes_path %>
