<%= form_for(@registro_dispositivo) do |f| %>
  <% if @registro_dispositivo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registro_dispositivo.errors.count, "error") %> prohibited this registro_dispositivo from being saved:</h2>

      <ul>
      <% @registro_dispositivo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :modelo_id %><br>
    <%= f.text_field :modelo_id %>
  </div>
  <div class="field">
    <%= f.label :serial %><br>
    <%= f.text_field :serial %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :linea_id %><br>
    <%= f.text_field :linea_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
