<tr>
        <td><%= municipio.nombre %></td>
        <td><%= municipio.estado.pais.nombre %></td>
        <td><%= municipio.estado.nombre %></td>
        <td><%= link_to 'Show', municipio %></td>
        <td><%= link_to 'Edit', edit_basico_municipio_path(municipio) %></td>
        <td><%= link_to 'Destroy', municipio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>