<p id="notice"><%= notice %></p>

<h1>Listing Basico Municipios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @basico_municipios.each do |basico_municipio| %>
      <tr>
        <td><%= basico_municipio.nombre %></td>
        <td><%= basico_municipio.estado %></td>
        <td><%= link_to 'Show', basico_municipio %></td>
        <td><%= link_to 'Edit', edit_basico_municipio_path(basico_municipio) %></td>
        <td><%= link_to 'Destroy', basico_municipio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Municipio', new_basico_municipio_path %>
